@import 'tailwindcss';

html {
  height: 100dvh;
}

body {
  height: 100%;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(5, 15, 13, 0.01) 0%, rgba(37, 101, 117, 0.16) 100%);
  background-attachment: fixed;
  background-position: top;
  pointer-events: none;
}

@layer base {
  :root {
    background-color: var(--background);
  }
}

@theme {
  --color-highlight: oklch(85.49% 0.1251 181.07); /* #5eead4 */
  --color-primary: oklch(71.07% 0.0351 256.79); /* #94a3b8 */
  --color-primary-active: oklch(0.13 0.0274 261.69 / 50%); /* #03071280 */
  --color-secondary: oklch(55.44% 0.0407 257.42); /* #64748b */
  --color-tertiary: oklch(55.1% 0.0234 264.36); /* #6b7280 */
  --color-dim: oklch(55.44% 0.0407 257.42 / 60%); /* #64748b99 */
  --color-black: oklch(0.24 0 0); /* #1e1e1e */
  --color-highlight-bg: oklch(78.45% 0.1325 181.91 / 10%); /* #2dd4bf1a */
  --color-highlight-secondary: oklch(0.63 0.2325 303.9); /* #A855F7 */
  --color-highlight-secondary-bg: oklch(0.56 0.2525 302.32 / 10.2%); /* #9333ea1a */
  --background: #030712;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
